body {
  font-size: 20px;
}

.square {
  width: 6em;
  height: 6em;
  background: transparent;
  border: 1px solid black;
}

.square:focus {
  outline: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: left;
}

.game{
  border: 1px solid black;
  background: #99c2ff;
  text-align: center;
}

.line {
  display: flex;
  align-items: center;
  justify-content: left;
}

.line:nth-child(even) .square:nth-child(odd){
  background: #006699;
}

.line:nth-child(odd) .square:nth-child(even){
  background: #006699;
}

.figure {
  font-size: 4em;
}

.square:active {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

