body {
  font-size: 20px;
}

.square {
  width: 3em;
  height: 3em;
  background: transparent;
  border: none;
  padding: 0;
}

.square:focus {
  outline: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: left;
}

.game{
  border: 1px solid black;
  background: #d3d3ab;
  text-align: center;
}

.line:nth-child(even) .square:nth-child(odd){
  background: brown;
}

.line:nth-child(odd) .square:nth-child(even){
  background: brown;
}

.blackPawn, .blackRook, .blackKnight, .blackBishop, .blackKing, .blackQueen{
  text-align: center;
  color: black;
  font-size: 1.6em;
}

.whitePawn, .whiteRook, .whiteKnight, .whiteBishop, .whiteKing, .whiteQueen{
  text-align: center;
  color: white;
  font-size: 1.6em;
}